<strong>Hello {{ provider }},</strong>
<p>One appointment was canceled, check details as follows:</p>
<p>
  <strong>Client: </strong>{{ user }} <br />
  <strong>Date/hour: </strong>{{date}} <br />
  <small>
    This date is disponible for new appointment.
  </small>
</p>
